# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv
env/
venv/

# Poetry
poetry.lock

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store
